{% extends "layout.html" %}

{% block title %}Learning{% endblock %}

{% block body %}
    <!-- LEFT COLUMN -->
    <div class="left-column">
        <h2>Topic Summary</h2>
           {% if summary %}
                <div id="topic-overview" class="topic-overview">
                    <p>{{ summary }}</p>
                </div>
           {% else %}
                <div id="topic-overview" class="topic-overview">
                    <p>no summary</p>
                </div>    
            {% endif %}

        <h2>Subtopic</h2>
        <div id="subtopic-container" class="subtopic-container">
            {% if subtopics %}
                <ul>
                {% for t in subtopics %}
                    <li>{{ t }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <ul><li>item</li></ul>
            {% endif %}
        </div>

        <h2>Helpful Web Links</h2>
        <div id="links-container" class="subtopic-container">
            {% if links %}
                <ul>
                {% for l in links %}
                    <li><a href="{{ l }}" target="_blank">{{ l }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <ul><li>item</li></ul>
            {% endif %}
        </div>
    </div>



    <div class="middle-column">
        <div class="sidebar">
        <input id="topic-input" type="text" placeholder="Enter Topic to Learn…" class="wiki-input">
        <button onclick="newTopic()" class="wiki-btn">Search Topic to Learn</button>
        </div>
        <h2>Chat</h2>

        <div id="chat-viewer" class="doc-viewer">
            <p>Start a Chat…</p>
        </div><br/>

        <input id="ask-chatbot" type="text" placeholder="Enter your query..." class="wiki-input">
        <button onclick="conversation()" class="wiki-btn">Ask Question</button>
    </div>




    <!-- RIGHT COLUMN -->
    <div class="right-column">
        <h2>YouTube Results</h2>
        {% if videos and videos|length > 0 %}
            <h3>Last Search Results</h3>
            <div id="video-results" class="video-results">
                {% for v in videos %}
                    <div class="video-card">
                        <img src="{{ v.thumbnail }}" class="thumb"/>
                        <h4>{{ v.title }}</h4>
                        <p>{{ v.description }}</p>
                        <a href="https://www.youtube.com/watch?v={{ v.videoId }}" target="_blank">
                            Watch on YouTube
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div id="video-results" class="video-results"></div>
        {% endif %}
    </div>

{% endblock %} 